<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750580323279-lcdhfv7dv241n3j83uk2uambgsj3m692.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750580323279-lcdhfv7dv241n3j83uk2uambgsj3m692</string>
	<key>API_KEY</key>
	<string>AIzaSyDqLDjTHTkJmmyBFRDCwWdP5dqxPnQj_6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>750580323279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>StudyGeneral.FirebaseSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>fir-swiftui-8c91c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-swiftui-8c91c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750580323279:ios:29bcb6aed4f3ea292fb8ba</string>
</dict>
</plist>